/* 
 * Stylesheet for the weather app
 */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: gainsboro;
  }

/* Heading styles */
h1 {
    color: #333;
  }

/* Form styles */
form {
    margin-top: 20px;
  }

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

form button[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(79, 79, 160);
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

form button[type="submit"]:hover {
    background-color: lightblue;
  }

form p {
    margin-top: 10px;
  }

form p:first-child {
    font-weight: bold;
  }

/* Weather container styles */
.weather-container {
    margin-top: 50px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
  }

.weather-container h2 {
    color: #333;
  }

.weather-container p {
    margin-top: 10px;
  }

.weather-container p:first-child {
    font-weight: bold;
  }


