/* 
 * Stylesheet for the weather app
 */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(47, 78, 88);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  }
  
  /* Container styles */
  .container {
    margin-top: 20px;
    text-align: center;
  }
  
  /* Heading styles */
  h1 {
    color: #a2a2a2;
    font-style: italic;
  }
  
  /* Form styles */
.search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    background-color: #b8b8b8;
    width: 250px;
    font-size: 16px;
    outline: none;
}

.search-form button[type="submit"] {
    padding: 10px 10px;
    background-color: #b8bcb8;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.search-form button[type="submit"] i {
    margin: 0;
}

.search-form button[type="submit"]:hover {
    background-color: #898b89;
}

  /* Weather details styles */
  .weather-details p {
    color: white;
    font-size: 15px;
  }
  
  /* Photo credit styles */
  .photo-credit {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: rgb(218, 212, 212);
    font-size: 15px;
  }
  