<!DOCTYPE html>
{% load static %}
<html lang= "en" style="color: white;">
<head>
    <title>Weather App 🌤️</title>
    <link rel= 'stylesheet' href= '{% static "css/style.css" %}'>
    <script>
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
</head>
<body>
    <h1>Weather App 🌤️</h1>
    <form method="post">
        {% csrf_token %}
        <p style="color: white;">Enter a city name: <input type="text" id="city" name="city" placeholder="Example: London" oninput="this.value = capitalizeFirstLetter(this.value)"></p>
        <button type="submit" style="color: white;">Search</button>
    </form>
    {% if temperature %}
    <h2 style="color: white;">Weather in {{ city|capfirst }}</h2>
    <p style="color: white;">Temperature: {{ temperature }}°C</p>
    <p style="color: white;">Description: {{ description|capfirst }}</p>
    <p style="color: white;">Country: {{ country|capfirst }}</p>
    <p style="color: white;">Humidity: {{ humidity }}%</p>
    <p style="color: white;">Wind Speed: {{ wind_speed }} m/s</p>
    <p style="color: white;">Visibility: {{ visibility }}</p>
    {% elif error_message %}
    <p style="color: white;">{{ error_message|capfirst }}</p>
    {% endif %}
</body>
</html>



