<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Weather App 🌤️</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="device-width, initial-scale=1.0">
    <style>
        body {
            background-image: url("{{ image_url }}");
        }
    </style>
    <script>
        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Weather App 🌤️</h1>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="city" placeholder="Search a city name..." oninput="this.value = capitalizeFirstLetter(this.value)">
            <button type="submit"><i> class= "fa fa-search"</i></button>
        </form>
        
        {% if temperature %}
        <div class="weather-details">
            <h2>Weather in {{ city|capfirst }}</h2>
            <p>Temperature: {{ temperature }}°C</p>
            <p>Description: {{ description|capfirst }}</p>
            <p>Country: {{ country|capfirst }}</p>
            <p>Humidity: {{ humidity }}%</p>
            <p>Wind Speed: {{ wind_speed }} m/s</p>
            <p>Visibility: {{ visibility }}</p>
        </div>
        {% elif error_message %}
        <p>{{ error_message|capfirst }}</p>
        {% endif %}

        {% if image_url %}
        <a href="{{ image_url }}" target="_blank" class="photo-credit">Photo by {{ photographer }} on Unsplash</a>
        {% endif %}
    </div>
</body>
</html>
